<div
  style="
    background-color: #f8f8f8;
    min-height: 91vh;
    padding-top: 20px;
    padding-bottom: 20px;
  "
  *ngIf="car"
>
  <div class="child">
    <div nz-row>
      <div nz-col nzSpan="8">
        <img
          [src]="processedImage"
          alt="profile"
          class="profile"
          style="height: 130px; width: 200px; border-radius: 10px"
        />
      </div>

      <div nz-col nzSpan="16">
        <h2 style="cursor: pointer; color: #108ee9">
          {{ car.brand }} - {{ car.name }}
        </h2>
        <p>{{ car.description }}</p>

        <hr />
        <h5>
          Price : <b>${{ car.price }}</b> - Color : <b>{{ car.color }}</b> -
          Transmission : <b>{{ car.transmission }}</b> - Type :
          <b>{{ car.type }}</b> - Year : <b>{{ car.year }}</b>
        </h5>
        <hr />
      </div>
    </div>
  </div>
  <nz-spin
    [nzSpinning]="isSpinning"
    [nzSize]="'large'"
    nzTip="Working..."
    style="margin-top: 50px"
    class="child"
  >
    <div class="dashboard-filter">
      <form [formGroup]="validateForm">
        <div class="filter-grid">
          <div class="filter-select-dropdown filter-fields-width">
            <nz-form-item>
              <div style="width: 16%;">
                <nz-form-label [nzSpan]="0" nzFor="From Date"
                  >From Date</nz-form-label
                >
              </div>
              <nz-form-control [nzSpan]="0" [nzErrorTip]="getErrorMessage('fromDate')">
                <nz-date-picker
                  formControlName="fromDate"
                  name="From Date"
                  nzPlaceHolder="From date"
                  id="From Date"
                  [nzFormat]="dateFormat"
                  style="width: 100%"
                ></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <div style="width: 16%;">
                <nz-form-label [nzSpan]="0" nzFor="To Date"
                  >To Date</nz-form-label
                >
              </div>
              <nz-form-control [nzSpan]="0" [nzErrorTip]="getErrorMessage('toDate')">
                <nz-date-picker
                  formControlName="toDate"
                  name="To Date"
                  nzPlaceHolder="To date"
                  id="To Date"
                  [nzFormat]="dateFormat"
                  style="width: 100%"
                ></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>

          <ng-container *ngIf="isToDateEarlier()">
            <div style="color: red;">
              From Date should be earlier than To Date
            </div>
          </ng-container>

          <div class="filter-select-dropdown filter-fileds-width">
            <button
              class="filterBtn"
              nz-button
              nzType="primary"
              [disabled]="validateForm.invalid"
              (click)="postCarBooking(validateForm.value)"
            >
              Book Car
            </button>
          </div>
        </div>
      </form>
    </div>
  </nz-spin>
</div>
